.sag-filter__section {
  display: flexbox;
  position: absolute;
  width: 15rem;
  height: 39rem;
  margin-left: 2rem;
  top: 6rem;
  background-color: #fff;
  text-align: left;
  border-radius: 0.9rem;
}

.sag-filter__header {
  display: flex;
  align-items: baseline;
  gap: 5rem;
  margin-top: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 0.07rem solid var(--color-secondary);
  padding-bottom: 0.6rem;
  max-width: 85%;
}

.sag-filter {
  --bs-accordion-border-radius: none;
}

.accordion-button {
  font-style: normal;
  font-weight: 600;
  font-size: 1.12rem;
}

.accordion-button::after {
  content: none;
}

.accordion-button:not(.collapsed) {
  background-color: #fff;
  color: black;
  box-shadow: none;
}

.accordion-button:focus {
  box-shadow: none;
  color: none;
}

.sag-filter__chevron-icon {
  margin-left: auto;
}

.sag-filter__item {
  display: flex;
  flex-direction: column;
  border: none;
  border-bottom: 0.07rem solid var(--color-secondary);
  max-width: 85%;
  margin: auto;
  width: 15rem;
}

.sag-filter__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 400;
  font-size: 0.9rem;
  padding: 0 0.64rem 0.64rem 0.64rem;
  user-select: none;
}

.accordion {
  --bs-accordion-btn-padding-x: 0.36rem;
}

.form-check {
  margin-bottom: 0rem;
}
